<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import customers data</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<div align="center">
    <div>
        <h1>Customer data importing tool</h1>
    </div>
    <br/><br/><br/>
    <div>
        <form th:method="POST" th:action="@{/}" th:object="${fileBucket}" enctype="multipart/form-data">
            <input type="file" th:field="*{file}" th:id="inputFile"/><br/><br/><br/>
            <input type="submit" th:value="Submit" th:id="inputBtn"/>
            <div>
                <p th:if="${#fields.hasErrors('file')}" th:errors="*{file}" th:id="error"/>
            </div>
            <div th:if="${message}">
                <p th:text="${message}" th:id="success"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>